## Contents
* [attribute](#attribute)
* [Boolean](#Boolean)
* [csv](#csv)
* [DataFrame](#DataFrame)  
* [data type](#data_type)
* [dictionary](#dictionary)
* [docstring](#docstring)
* [float](#float)
* [function](#function)
* [int](#int)
* [library](#library)
* [list](#list)
* [method](#method)
* [method chaining](#method_chaining)
* [Series](#Series)
* [SQL](#SQL)   
* [string](#string)
* [tuple](#tuple) 
* [variable](#variable)

### attribute <a id='attribute'></a>
A characteristic of a specific object. Example: The `shape` attribute of a pandas DataFrame contains the number of rows and number of columns. Attributes are accessed using a period but **do not** have parentheses. Example: `df.shape`.

### Boolean <a id='Boolean'></a>
A data type containing **True** and **False**. Typically seen as the result of a comparison operator.

Examples:

In [8]:
3 > 1

True

In [14]:
x = 4 < 1
type(x)

bool

### csv <a id='csv'></a>
Short for **comma separated values**, this is a common text format for sharing data. Files in the csv format can be read into a _pandas_ dataframe using the `read_csv` function.

Example: `df = pd.read_csv('my_file.csv')`

### DataFrame <a id='DataFrame'></a>
An element of the `pandas` library which hold tabular data. A DataFrame has rows (observations) and columns (variables).

### data type <a id='data_type'></a>
The format that data stored in a variable takes; Some example are [int](#int), [float](#float), [string](#string), and [Boolean](#Boolean). The `type` function can be used to determine the data type of an object or variable.

Example:

In [5]:
x = 5
type(x)

int

In [6]:
x = 'hello'
type(x)

str

In [7]:
x = [1,2,3]
type(x)

list

### dictionary <a id='dictionary'></a>
A Python data type containing key-value pairs. Dictionaries are surrounded by curly braces `{ }`. The elements of a dictionary are key-value pairs where the keys and values are separed by colons, like `key: value`.

Example:

In [22]:
dog = {'name': 'Ralph', 'breed': 'golden retriever', 'age': 7}

Elements of a dictionary can be accessed using square brackets and specifying the key of the desired element.

In [23]:
dog['breed']

'golden retriever'

### docstring <a id='docstring'></a>
Text specified in source code that documents what a function or module does.

### float <a id='float'></a>
The floating decimal data type in Python. Examples are 3.28 and -45.3

### function <a id='function'></a>
Reusable code that takes zero, one, or more inputs, does something with them, and returns an output. Functions can be part of a library (for example the `read_csv` function from `pandas`) or can be user-defined. **Note:** You must use parentheses when calling a function.

### int <a id='int'></a>
The integer data type in Python. Integers are numbers that have no decimal part. For example, 12, 0, and -76 are all integers.

### library <a id='library'></a>
A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs. For example, the `pandas` library contains objects and functions useful for doing data analysis tasks in Python.

Libraries (or components of libraries) can be imported into a Jupyter notebook using the `import` statement. Example: `import pandas`

### list <a id='list'></a>
A Python data type which store multiple items in an ordered collection. List can hold duplicates (and even multiple data types). Lists are created using square brackets `[ ]`.

Example:

In [19]:
colors = ['red', 'yellow', 'blue', 'green', 'red', 'green']

Items in a list can be accessed by index. Recall that Python starts counting at 0.

In [20]:
colors[2]

'blue'

You can also select multiple items from a list but indicating the start and end indices. Note that the end index is not included.

In [21]:
colors[1:3]

['yellow', 'blue']

### method <a id='method'></a>
A [function](#function) which is built into an object. For example, the `head` function is a `method` of DataFrame objects. 

Methods are invoked by giving the name of the variable followed by a period and then the method name. Example: `df.head()`.

### method chaining<a id='method_chaining'></a>
Applying multiple methods in sequence without saving intermediate steps. The functions are executed left to right and the output of one method is directly fed into the next one.

Example: `df.value_counts().reset_index()`

### Series <a id='Series'></a>
A `pandas` data type which cointains a one dimensional array of data. A Series contains values for a single variable. A column or row in a dataframe is a Series.

### SQL <a id='SQL'></a>
Structured Query Language; used for creating, retrieving, updating, or deleting data from a database (look up CRUD acronym). Data analysts will only retrieve data.

### string <a id='string'></a>
The string data type in Python. Contains text. Examples: "hello", "Nashville", "175"

Strings are surrounded by quotes. These quotes can be either single quotes or double quotes, as long as they match.

### tuple <a id='tuple'></a>
A python data type similar to a list; a 1 dimensional array of values. Can contain different data types. Differs from a list in that tuples cannot be modified once they are created (they are immutable)

In [16]:
my_tuple = ('foo', 'bar')
type(my_tuple)

tuple

Elements of tuples can be extracted using square brackets and specifying the index of the element you want to extract.

In [17]:
my_tuple[0]

'foo'

In [18]:
my_tuple[1]

'bar'

### variable <a id='variable'></a>
A container for storing data values; A variable in created in Python by using an equals sign (called the _assignment operator_). Variables are useful, because they allow you to save a value and reference it later. Variable assignments carry across cells in Jupyter notebooks.

Example: We can assign the string (text) 'hello world' to the variable `x` and then reference it later.

In [3]:
x = 'hello world'

In [4]:
print(x)

hello world