In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql
%matplotlib inline
import folium

In [2]:
police_prec = pd.read_csv('../data/Police_Precincts.csv')

In [7]:
police_prec.head(5)

,Precinct Name,Precinct Commander,Community Coordinator,Phone Number,Street,City,State,Website,ZIP Code,Mapped Location
0,West Precinct,Commander David Corman,Sergeant John Bourque,(615) 862-7747,5500 Charlotte Pike,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37209,"5500 Charlotte Pike\nNashville, TN 37209\n(36...."
1,South Precinct,Commander Keith Stephens,Sergeant Deniz Ismailovic,(615) 862-7744,5101 Harding Place,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37211,"5101 Harding Place\nNashville, TN 37211\n(36.0..."
2,Midtown Hills Precinct,Commander Tommy Widener,Sergeant Catherine Poole,(615) 880-1411,1441 12th Avenue South,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37203,"1441 12th Avenue South\nNashville, TN 37203\n(..."
3,Central Precinct,Commander Jason Starling,Sergeant Misty Hobbs,(615) 862-7611,601 Korean Veterans Blvd.,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37203,"601 Korean Veterans Blvd.\nNashville, TN 37203..."
4,East Precinct,Commander Virginia Carrigan,Sergeant Jessica Ware,(615) 862-7600,936 E. Trinity Lane,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37207,"936 E. Trinity Lane\nNashville, TN 37207\n(36...."

In [26]:
traffic_acc = pd.read_csv('../data/Traffic_Accidents.csv', low_memory=False)

traffic_acc.head(5)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,"September 21, 2020 06:37 PM",1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210.0,8207.0,HERMIT,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,"September 20, 2020 07:20 PM",1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138.0,9717.0,HERMIT,36.2267,-86.6032,POINT (-86.6032 36.2267)
3,20200605021,"September 21, 2020 05:58 AM",2.0,0,0,NaN,False,256569.0,5.0,SIDESWIPE - SAME DIRECTION,...,MOTOR VEHICLE IN TRANSPORT,MURFREESBORO PKE & WILHAGAN RD,NASHVILLE,TN,37217.0,8801.0,SOUTH,36.1325,-86.7193,POINT (-86.7193 36.1325)
4,20200605988,"September 21, 2020 03:27 PM",2.0,0,0,NaN,False,179606.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,NOLENSVILLE PKE & WOODYCREST AV,NASHVILLE,TN,37211.0,8041.0,MIDTOW,36.1312,-86.7562,POINT (-86.7562 36.1312)

In [28]:
traffic_acc.describe()

,Accident Number,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Reporting Officer,Collision Type Code,Weather Code,Illumination Code,ZIP,RPA,Latitude,Longitude
count,2.182330e+05,218232.000000,218233.000000,218233.0,2.182230e+05,218217.000000,212876.000000,217932.000000,217134.000000,217128.000000,217793.000000,217793.000000
mean,2.017898e+10,1.867155,0.388566,0.0,4.811087e+05,7.226586,19.191661,1.838486,37174.500861,12811.195157,36.004911,-86.407769
std,1.997366e+07,0.674301,0.761444,0.0,7.042650e+05,10.709838,10.481387,3.839852,67.769177,20974.385251,2.262669,5.428343
min,2.010081e+10,0.000000,0.000000,0.0,1.000000e+00,0.000000,2.000000,1.000000,37013.000000,1001.000000,0.000000,-89.642600
25%,2.016078e+10,2.000000,0.000000,0.0,2.000160e+05,4.000000,21.000000,1.000000,37201.000000,4103.000000,36.097400,-86.790100
50%,2.018028e+10,2.000000,0.000000,0.0,2.791180e+05,5.000000,21.000000,1.000000,37207.000000,8043.000000,36.149500,-86.755000
75%,2.019078e+10,2.000000,1.000000,0.0,4.736630e+05,11.000000,21.000000,3.000000,37211.000000,8902.000000,36.183600,-86.699800
max,2.022030e+10,27.000000,35.000000,0.0,4.006569e+06,98.000000,99.000000,98.000000,37240.000000,95101.000000,36.615400,0.000000

In [33]:
traffic_acc['Date and Time'].nsmallest

<bound method Series.nsmallest of 0         September 21, 2020 06:37 PM
1         September 20, 2020 12:00 AM
2         September 20, 2020 07:20 PM
3         September 21, 2020 05:58 AM
4         September 21, 2020 03:27 PM
                     ...
218228      October 10, 2021 08:53 PM
218229      October 10, 2021 01:24 AM
218230      October 10, 2021 02:30 PM
218231      October 10, 2021 12:00 AM
218232      October 10, 2021 02:00 AM
Name: Date and Time, Length: 218233, dtype: object>

In [9]:
metro_survey = pd.read_csv('../data/Metro_Resident_Survey_Responses.csv')

metro_survey.head(5)

,Period,Start Date,End Date,ZIP Code,Service District,Quality of Life,Overall Feeling of Safety,Neighborhood Safety,City Appearance,Neighborhood Appearance,...,Race / Ethnicity - Black,Race / Ethnicity - Hispanic,Race / Ethnicity - Asian or Pacific Islander,Race / Ethnicity - Native American or Alaskan Native,Race / Ethnicity - Other,Race / Ethnicity - Other Definition,Total Annual Household Income,Age,Gender Identity,Education Attained
0,2018Q2,06/21/2018,07/16/2018,37208,Urban Services District,Neutral,Neutral,Neutral,Neutral,Satisfied,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Female,High school graduate
1,2018Q2,06/21/2018,07/16/2018,37211,Urban Services District,Satisfied,Satisfied,Satisfied,Neutral,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,"$100,000 or more",45-54,Female,Graduate degree
2,2018Q2,06/21/2018,07/16/2018,37208,Urban Services District,Very Satisfied,Neutral,Satisfied,Satisfied,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,"$30,000 to $59,999",25-34,Male,Bachelor's degree
3,2018Q2,06/21/2018,07/16/2018,37203,Urban Services District,Satisfied,Very Satisfied,Satisfied,Satisfied,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,"$30,000 to $59,999",25-34,Male,Bachelor's degree
4,2018Q1,02/01/2018,03/06/2018,37138,General Services District,Satisfied,Satisfied,Satisfied,NaN,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,000 to $99,999",45-54,Female,NaN

In [23]:
metro_survey.columns.to_list()

['Period',
 'Start Date',
 'End Date',
 'ZIP Code',
 'Service District',
 'Quality of Life',
 'Overall Feeling of Safety',
 'Neighborhood Safety',
 'City Appearance',
 'Neighborhood Appearance',
 'Nashville as Residence',
 'Nashville as Place to Raise Children',
 'Nashville as Workplace',
 'Nashville as Place to Start/Grow Business',
 'Nashville as Retirement Place',
 'Metro Services - Overall',
 'Value Received from Taxes',
 'Elected Official Leadership',
 'Elected Official Responsiveness',
 'Elected Official Accessibility',
 'Metro Transparency and Ethics',
 'Metro Budgeting and Stewardship',
 'Customer Service',
 'Metro Communication',
 'Decision Input Opportunity',
 'Crime Prevention',
 'Police - Overall',
 'Fire and EMS - Overall',
 'Streets and Sidewalks - Overall',
 'Trash and Recycling - Overall',
 'Public Education',
 'Public Health - Overall',
 'Public Library',
 'Social Services - Overall',
 'Economic Development - Overall',
 'Parks and Recreation - Overall',
 'Code Enforcement - Overall',
 'Public Transit - Overall',
 'Water Services - Overall',
 'Metro-provided Arts and Culture - Overall',
 'Affordable Housing - Overall',
 'Historic Preservation - Overall',
 '1st Priority Service',
 '2nd Priority Service',
 '3rd Priority Service',
 '4th Priority Service',
 '5th Priority Service',
 'City Street Maintenance',
 'Street Signs and Traffic Signals',
 'Pedestrian Infrastructure',
 'Curb Space Management',
 'Bicycle Infrastructure',
 'Trash Service',
 'Curbside Recycling',
 'Drop-off Recycling',
 'Street Lighting',
 'Public Works Personnel Professionalism',
 'Police Visibility',
 'Traffic Enforcement',
 'Police Professionalism',
 'Police Response Time',
 'School Crossing Guards',
 'School Resource Officers',
 'Youth Violence Programs',
 'Special Event Security',
 'Fire Services',
 'Fire Response Time',
 'Emergency Medical Services (EMS)',
 'EMS Response Time',
 'Fire Professionalism',
 'EMS Professionalism',
 'MTA Bus Service',
 'Music City Circuit',
 'AccessRide',
 'Music City Star',
 'Park and Ride',
 'Bus Shelters',
 'MTA Personnel Professionalism',
 'Trash and Debris Enforcement',
 'Lawn and Brush Enforcement',
 'Exterior Maintenance Enforcement',
 'Short-Term Rental Enforcement',
 'STRP Complaint Hotline',
 'Codes Personnel Professionalism',
 'Codes Responsiveness',
 '911 Services',
 'Non-Emergency Number',
 'hubNashville (311)',
 'Program Information Availability',
 'Nashville.gov',
 'Metro Video Programming',
 'Metro Social Media',
 'Parks Maintenance',
 'Outdoor Athletic Fields',
 'Walking and Biking Trails',
 'Swimming Pools',
 'Community Centers',
 'Youth Recreation Programs',
 'Senior Recreation Programs',
 'Parks Personnel Professionalism',
 'Park Safety',
 'Burial Assistance Program',
 'Family Support Services',
 'Homeless Services',
 'Nutrition Programs',
 'Head Start / Early Head Start',
 'Low Income Home Energy Assistance Program (LIHEAP)',
 'Violent Crime Victim Services',
 'Tap Water',
 'Water Service Reliability',
 'Water Emergency Response',
 'Flood Prevention',
 'Stormwater Fund Use',
 'Water Services Value',
 'Water Services Communication',
 'Water Services Information Availability',
 'Water Services Social Media',
 'Water Services Employee Interaction',
 'Crime Victim',
 'MNPD Officer Contact',
 '311 (hubNashville) Usage',
 'Nashville.gov Usage',
 'Park / Community Center Usage',
 'MTA Bus Service Usage',
 'Bicycle Usage',
 'Arts / Cultural Event Attendance',
 'Public Library Usage',
 'Metro Elected Official Contact',
 'Public Meeting Attendance',
 'Neighborhood Meeting Attendance',
 'Monthly Housing Cost Over 30%',
 'Rideshare / Bikeshare Usage',
 'Commute by Walking, Biking, or Bus',
 'Affordable Housing Preference',
 'Opioid Addiction',
 'Neighborhood Tree Canopy',
 'Internet Use for Information',
 'Mobile Phone Internet Access',
 'Home Internet Access',
 'Natural Disaster Preparedness',
 '$500 Emergency Expense',
 'Healthcare Access',
 'Healthy Food Access',
 'Childcare Access',
 'Pre-K Access',
 'Public Transit Access',
 'Park and Green Space Access',
 'Affordable Housing Access',
 'Diversity Support Efforts',
 'Diversity Acceptance',
 'Disability Access',
 'Job Access',
 'Neighborhood Arts and Culture',
 'Small Business and Freelance Work Space',
 "Farmers' Market",
 'General Hospital',
 'Emergency and Natural Disaster Response',
 'No Children in Davidson County',
 'Children Ages 0-5',
 'Children Ages 6-13',
 'Children Ages 14-17',
 'Public School Attendance',
 'Charter School Attendance',
 'Private School Attendance',
 'Other School Attendance',
 'Other School Definition',
 'School Quality',
 'Own or Rent',
 'Years Lived in Davidson County',
 'Business Owner / Operator',
 'Race / Ethnicity - White',
 'Race / Ethnicity - Black',
 'Race / Ethnicity - Hispanic',
 'Race / Ethnicity - Asian or Pacific Islander',
 'Race / Ethnicity - Native American or Alaskan Native',
 'Race / Ethnicity - Other',
 'Race / Ethnicity - Other Definition',
 'Total Annual Household Income',
 'Age',
 'Gender Identity',
 'Education Attained']

In [13]:
metro_survey.dtypes

Period                                 object
Start Date                             object
End Date                               object
ZIP Code                                int64
Service District                       object
                                        ...
Race / Ethnicity - Other Definition    object
Total Annual Household Income          object
Age                                    object
Gender Identity                        object
Education Attained                     object
Length: 181, dtype: object