# 1. Import the packages
Import the packages by running the code below in a Jupyter notebook cell. If you decide to import additional packages over the next few weeks, be sure to add them to this cell. Also add the command that starts with % to the bottom of this cell. This is called a magic command and displays your plots in the notebook without having to also call a separate command.<br><br>
<mark>import pandas as pd<br>
import matplotlib.pyplot as plt<br>
import seaborn as sns<br>
import sqlite3 as sql<br>
%matplotlib inline<br></mark>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql
%matplotlib inline

<style>
.alert-green {
  color: rgb(60,118,61) !important;
}
</style>

***
# 2. Importing the data to a dataframe
Read in the 2018 police calls data __police_calls_2018.csv__ to a dataframe called __police_calls__.

In [2]:
police_calls = pd.read_csv('../data/police_calls_2018.csv')

# 2a. Look at the first 5 rows.
> Use __.head()__ to show first rows.

In [3]:
police_calls.head(5)

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,Latitude,Longitude,geometry,zipcode,PO
0,PD201800174484,02/16/2018 07:09:00 PM,20180155542,B,93,Traffic Violation,3,CITATION - TRAFFIC,600.0,ALBANY DR,521B,H,23,36.210,-86.600,POINT (-86.59999999999999 36.21),37076,HERMITAGE
1,PD201800174650,02/16/2018 08:02:00 PM,20180155684,B,93,Traffic Violation,9,SUBJECT WARNED,5800.0,OLD HICKORY BLVD,5F34,H,21,36.169,-86.601,POINT (-86.601 36.169),37076,HERMITAGE
2,PD201800175038,02/16/2018 10:16:00 PM,20180156001,B,3,Administrative/Special Assignment,6,ASSISTED OTHER UNIT,3700.0,JAMES KAY LN,521B,H,21,36.178,-86.616,POINT (-86.616 36.178),37076,HERMITAGE
3,PD201800174217,02/16/2018 05:58:00 PM,20180155321,B,87,Safety Hazard,3,CITATION - TRAFFIC,0.0,MM 221 4 I40 E,5122,H,23,36.170,-86.591,POINT (-86.59100000000001 36.17),37076,HERMITAGE
4,PD201800173907,02/16/2018 04:19:00 PM,20180155047,B,93,Traffic Violation,9,SUBJECT WARNED,1300.0,TULIP GROVE RD,521B,H,23,36.175,-86.596,POINT (-86.596 36.175),37076,HERMITAGE

# 2b. Look at the last 3 rows.

> Use __.tail()__ to display the last rows.

In [4]:
police_calls.tail(3)

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,Latitude,Longitude,geometry,zipcode,PO
718018,PD201800855208,08/29/2018 09:11:36 AM,20180740194,A,45,Vehicle Accident - Property Damage,1,M.P.D. REPORT COMPLED,6900.0,NOLENSVILLE PKE,3T73,S,31,35.994,-86.685,POINT (-86.685 35.994),37027,BRENTWOOD
718019,PD201800783912,08/08/2018 10:15:20 AM,0,A,43,Want Officer for Investigation / Assistance,11,DISREGARD / SIGNAL 9,0.0,HIGHWAY 70&CHEATHAM CO LINE,NaN,W,25,36.094,-87.038,POINT (-87.038 36.094),37143,PEGRAM
718020,PD201800800491,08/13/2018 11:51:29 AM,20180693242,A,96,Business Check,4,ASSISTED CITIZEN,0.0,HIGHWAY 70&CHEATHAM CO LINE,5252,W,23,36.094,-87.038,POINT (-87.038 36.094),37143,PEGRAM

# 2c. How many rows and columns does *police_calls* contain?
> Use __.shape__ to find # of rows and columns.

In [5]:
police_calls.shape

(718021, 18)

***
# 3. Keep just these columns:
<mark>a. 'Call Received'<br>
b. 'Shift'<br>
c. 'Tencode'<br>
d. 'Tencode Description'<br>
e. 'Disposition Code'<br>
f. 'Disposition Description'<br>
g. 'Unit Dispatched'<br>
h. 'Sector'<br>
i. 'Zone'<br>
j. 'Latitude'<br>
k. 'Longitude'<br>
l. 'zipcode'<br>
m. 'PO'<br></mark>

### (optional) List the columns.

In [6]:
police_calls.columns

Index(['Event Number', 'Call Received', 'Complaint Number', 'Shift', 'Tencode',
       'Tencode Description', 'Disposition Code', 'Disposition Description',
       'Block', 'Street Name', 'Unit Dispatched', 'Sector', 'Zone', 'Latitude',
       'Longitude', 'geometry', 'zipcode', 'PO'],
      dtype='object')

### Slice the columns.
> Passing a list of columns to slice from the DataFrame (double brackets) returns a DataFrame with just those columns.<br>
> Use the __.head()__ to check.

In [7]:
police_calls = police_calls[['Call Received',
                             'Shift',
                             'Tencode',
                             'Tencode Description',
                             'Disposition Code',
                             'Disposition Description',
                             'Unit Dispatched',
                             'Sector',
                             'Zone',
                             'Latitude',
                             'Longitude',
                             'zipcode',
                             'PO']]
police_calls.head(2)

,Call Received,Shift,Tencode,Tencode Description,Disposition Code,Disposition Description,Unit Dispatched,Sector,Zone,Latitude,Longitude,zipcode,PO
0,02/16/2018 07:09:00 PM,B,93,Traffic Violation,3,CITATION - TRAFFIC,521B,H,23,36.210,-86.600,37076,HERMITAGE
1,02/16/2018 08:02:00 PM,B,93,Traffic Violation,9,SUBJECT WARNED,5F34,H,21,36.169,-86.601,37076,HERMITAGE

***
# 4. Rename the columns.
> Then use the __.head()__ to check.

In [8]:
police_calls = police_calls.rename(columns = {
    'Call Received' : 'call_time',
    'Shift' : 'shift',
    'Tencode' : 'tencode',
    'Tencode Description' : 'tencode_desc',
    'Disposition Code' : 'disposition',
    'Disposition Description' : 'disposition_desc',
    'Unit Dispatched' : 'unit_dispatched',
    'Sector' : 'sector',
    'Zone' : 'zone',
    'Latitude' : 'lat',
    'Longitude' : 'lng',
    'zipcode' : 'zipcode',
    'PO': 'po'
})
police_calls.head(2)

,call_time,shift,tencode,tencode_desc,disposition,disposition_desc,unit_dispatched,sector,zone,lat,lng,zipcode,po
0,02/16/2018 07:09:00 PM,B,93,Traffic Violation,3,CITATION - TRAFFIC,521B,H,23,36.210,-86.600,37076,HERMITAGE
1,02/16/2018 08:02:00 PM,B,93,Traffic Violation,9,SUBJECT WARNED,5F34,H,21,36.169,-86.601,37076,HERMITAGE

***
# 5. What are the unique disposition descriptions?
> Use __.unique()__ to list all the unique values.

In [9]:
police_calls['disposition_desc'].unique()

array(['CITATION - TRAFFIC', 'SUBJECT WARNED', 'ASSISTED OTHER UNIT',
       'GONE ON ARRIVAL', 'ASSISTED CITIZEN', 'COMMUNITY POLICING',
       'LOCATION/BUILDING SECURE', 'DISREGARD / SIGNAL 9',
       'M.P.D. REPORT COMPLED', 'ADVISED IN CIVIL CASE', 'FALSE CALL',
       'NO RESPONSE', 'ARREST, CUSTODIAL OR CITATION',
       'ASSISTANCE REFUSED', 'ADVISORY / NOTICE FORM GIVEN', nan],
      dtype=object)

***
# 6. Remove all rows from *police_calls* where the disposition description is:
- missing (nan)
- or DISREGARD / SIGNAL 9
- or NO RESPONSE. <br>
Check to see that you have 624841 rows remaining.

> Using __.loc[ ]__, remove the nan (null) values -- <br>
> Detect missing values with __isna()__. (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [10]:
police_calls = police_calls.loc[~police_calls.disposition_desc.isna()]

> Use __.unique()__ to confirm the null values were removed.

In [11]:
police_calls['disposition_desc'].unique()

array(['CITATION - TRAFFIC', 'SUBJECT WARNED', 'ASSISTED OTHER UNIT',
       'GONE ON ARRIVAL', 'ASSISTED CITIZEN', 'COMMUNITY POLICING',
       'LOCATION/BUILDING SECURE', 'DISREGARD / SIGNAL 9',
       'M.P.D. REPORT COMPLED', 'ADVISED IN CIVIL CASE', 'FALSE CALL',
       'NO RESPONSE', 'ARREST, CUSTODIAL OR CITATION',
       'ASSISTANCE REFUSED', 'ADVISORY / NOTICE FORM GIVEN'], dtype=object)

> Alternatively, use __.isna()__ to confirm there are no null values left.

In [12]:
police_calls.disposition_desc.isna()

0         False
1         False
2         False
3         False
4         False
          ...
718016    False
718017    False
718018    False
718019    False
718020    False
Name: disposition_desc, Length: 717888, dtype: bool

> Or we could even use __.info()__ to check for null values.

In [13]:
police_calls.disposition_desc.info()

<class 'pandas.core.series.Series'>
Int64Index: 717888 entries, 0 to 718020
Series name: disposition_desc
Non-Null Count   Dtype
--------------   -----
717888 non-null  object
dtypes: object(1)
memory usage: 11.0+ MB

> Next, using __.loc[ ]__ to remove the 'DISREGARD / SIGNAL 9' and 'NO RESPONSE' values.

In [14]:
police_calls = police_calls.loc[~police_calls.disposition_desc.isin(['DISREGARD / SIGNAL 9','NO RESPONSE'])]

> Use __.unique()__ to confirm those values were removed.

In [15]:
police_calls['disposition_desc'].unique()

array(['CITATION - TRAFFIC', 'SUBJECT WARNED', 'ASSISTED OTHER UNIT',
       'GONE ON ARRIVAL', 'ASSISTED CITIZEN', 'COMMUNITY POLICING',
       'LOCATION/BUILDING SECURE', 'M.P.D. REPORT COMPLED',
       'ADVISED IN CIVIL CASE', 'FALSE CALL',
       'ARREST, CUSTODIAL OR CITATION', 'ASSISTANCE REFUSED',
       'ADVISORY / NOTICE FORM GIVEN'], dtype=object)

> Alternatively, use __value_counts()__ to see the values left in list form.

In [16]:
police_calls.disposition_desc.value_counts()

SUBJECT WARNED                   125522
LOCATION/BUILDING SECURE         120687
ASSISTED CITIZEN                 106585
COMMUNITY POLICING                80287
ASSISTED OTHER UNIT               55071
GONE ON ARRIVAL                   45375
M.P.D. REPORT COMPLED             41708
CITATION - TRAFFIC                30390
ARREST, CUSTODIAL OR CITATION      8408
FALSE CALL                         6767
ASSISTANCE REFUSED                 1960
ADVISED IN CIVIL CASE              1377
ADVISORY / NOTICE FORM GIVEN        704
Name: disposition_desc, dtype: int64

> Confirm with __.shape__ that there are only 624841 rows remaining.

In [17]:
police_calls.shape

(624841, 13)

***
# 7. Create a dataframe from the *tencode_desc* value counts called *tencode_counts*.
- It should have two columns called __tencode__ and __tencode_count__.

> Get value counts for __tencode__ and __tencode_desc__. This will return the values as a __series__ (not a DataFrame).

In [25]:
tencode_counts = police_calls.value_counts(subset=['tencode','tencode_desc'])
tencode_counts.head(2)

tencode  tencode_desc
96       Business Check       154763
93       Traffic Violation    141283
dtype: int64

> Use __reset_index()__ to turn the series into a DataFrame while adding an index column.

In [26]:
tencode_counts = tencode_counts.reset_index()
tencode_counts.head(2)

   tencode       tencode_desc       0
0       96     Business Check  154763
1       93  Traffic Violation  141283

> Drop the column __tencode__ that has the 2-digit tencode.

In [27]:
tencode_counts = tencode_counts.drop(columns = ['tencode'])
tencode_counts.head(2)

        tencode_desc       0
0     Business Check  154763
1  Traffic Violation  141283

> Rename the columns.

In [28]:
tencode_counts = tencode_counts.rename(columns = {
    'tencode_desc' : 'tencode',
    '0': 'tencode_count',
})
tencode_counts.head(2)

             tencode       0
0     Business Check  154763
1  Traffic Violation  141283