In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql
%matplotlib inline
import folium

In [2]:
police_precincts = pd.read_csv('../data/Police_Precincts.csv')

In [3]:
police_precincts

,Precinct Name,Precinct Commander,Community Coordinator,Phone Number,Street,City,State,Website,ZIP Code,Mapped Location
0,West Precinct,Commander David Corman,Sergeant John Bourque,(615) 862-7747,5500 Charlotte Pike,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37209,"5500 Charlotte Pike\nNashville, TN 37209\n(36...."
1,South Precinct,Commander Keith Stephens,Sergeant Deniz Ismailovic,(615) 862-7744,5101 Harding Place,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37211,"5101 Harding Place\nNashville, TN 37211\n(36.0..."
2,Midtown Hills Precinct,Commander Tommy Widener,Sergeant Catherine Poole,(615) 880-1411,1441 12th Avenue South,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37203,"1441 12th Avenue South\nNashville, TN 37203\n(..."
3,Central Precinct,Commander Jason Starling,Sergeant Misty Hobbs,(615) 862-7611,601 Korean Veterans Blvd.,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37203,"601 Korean Veterans Blvd.\nNashville, TN 37203..."
4,East Precinct,Commander Virginia Carrigan,Sergeant Jessica Ware,(615) 862-7600,936 E. Trinity Lane,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37207,"936 E. Trinity Lane\nNashville, TN 37207\n(36...."
5,Madison Precinct,Commander Greg Blair,Sergeant Henry Particelli,(615) 880-3111,400 Myatt Dr.,Madison,TN,http://www.nashville.gov/Police-Department/Pre...,37115,"400 Myatt Dr.\nMadison, TN 37115\n(36.272475, ..."
6,North Precinct,Commander Anthony McClain,Sergeant James Freeman,(615) 862-4410,2231 26th Ave. North,Nashville,TN,http://www.nashville.gov/Police-Department/Pre...,37208,"2231 26th Ave. North\nNashville, TN 37208\n(36..."
7,Hermitage Precinct,Commander Randy Hickerson,Sergeant Robert Weaver,(615) 880-1776,3701 James Kay Lane,Hermitage,TN,http://www.nashville.gov/Police-Department/Pre...,37076,"3701 James Kay Lane\nHermitage, TN 37076\n(36...."

<a id="top"></a>

<div class="alert alert-block alert-info">
<h3>TABLE OF CONTENTS</h3><br>
<a href='#TRAFFICACCIDENTS'>1. Traffic Accidents by Zip code</a><br>
<a href='#SURVEYTRAFFIC'>2. Metro Survey on Traffic Enforcement by Zip code</a><br>
<a href='#PLOT'>3. Dissatisfaction of Traffic Enforcement by Zip code</a><br>
<a href='#MAP'>4. Traffic Accidents vs. Precincts Map</a><br>
</div>

<a id='WEEK1'></a>
[Back to top](#top)
<a id="1"></a>
# 1. Traffic Accidents by Zipcode

> ## 1.a. EDA (Exploratory Data Analysis)

In [4]:
# Load in the data.

traffic_accidents = pd.read_csv('../data/Traffic_Accidents.csv', low_memory=False)

traffic_accidents.head(3)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,"September 21, 2020 06:37 PM",1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210.0,8207.0,HERMIT,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,"September 20, 2020 07:20 PM",1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138.0,9717.0,HERMIT,36.2267,-86.6032,POINT (-86.6032 36.2267)

In [5]:
# What are the datatypes?

traffic_accidents.dtypes

Accident Number                 int64
Date and Time                  object
Number of Motor Vehicles      float64
Number of Injuries              int64
Number of Fatalities            int64
Property Damage                object
Hit and Run                    object
Reporting Officer             float64
Collision Type Code           float64
Collision Type Description     object
Weather Code                  float64
Weather Description            object
Illumination Code             float64
Illumination Description       object
Harmful Code                   object
Harmful Description            object
Street Address                 object
City                           object
State                          object
ZIP                           float64
RPA                           float64
Precinct                       object
Latitude                      float64
Longitude                     float64
Mapped Location                object
dtype: object

In [6]:
# What is the date format in the 'Date and Time' column?

traffic_accidents['Date and Time']

0         September 21, 2020 06:37 PM
1         September 20, 2020 12:00 AM
2         September 20, 2020 07:20 PM
3         September 21, 2020 05:58 AM
4         September 21, 2020 03:27 PM
                     ...
218228      October 10, 2021 08:53 PM
218229      October 10, 2021 01:24 AM
218230      October 10, 2021 02:30 PM
218231      October 10, 2021 12:00 AM
218232      October 10, 2021 02:00 AM
Name: Date and Time, Length: 218233, dtype: object

> ## 1.b. Cleaning the data -- Change date and time format.

In [7]:
# Change the 'Date and Time' column to datetime datatype.

traffic_accidents['Date and Time'] = pd.to_datetime(traffic_accidents['Date and Time'], 
                                            format = '%B %d, %Y %I:%M %p')

traffic_accidents.dtypes

Accident Number                        int64
Date and Time                 datetime64[ns]
Number of Motor Vehicles             float64
Number of Injuries                     int64
Number of Fatalities                   int64
Property Damage                       object
Hit and Run                           object
Reporting Officer                    float64
Collision Type Code                  float64
Collision Type Description            object
Weather Code                         float64
Weather Description                   object
Illumination Code                    float64
Illumination Description              object
Harmful Code                          object
Harmful Description                   object
Street Address                        object
City                                  object
State                                 object
ZIP                                  float64
RPA                                  float64
Precinct                              object
Latitude                             float64
Longitude                            float64
Mapped Location                       object
dtype: object

> ## 1.c. Cleaning the data -- Clean up Precinct column entries.

In [8]:
traffic_accidents['Precinct'].unique().tolist()

['HERMIT', 'MADISO', 'SOUTH', 'MIDTOW', 'EAST', 'WEST', 'NORTH', 'CENTRA', nan]

In [9]:
# this will replace "HERMIT" with "Hermitage"
traffic_accidents = traffic_accidents.replace(to_replace ='HERMIT', value ='Hermitage Precinct')

In [10]:
# this will replace "MADISO" with "Madison"
traffic_accidents = traffic_accidents.replace(to_replace ='MADISO', value ='Madison Precinct')

In [11]:
# this will replace "SOUTH" with "South"
traffic_accidents = traffic_accidents.replace(to_replace ='SOUTH', value ='South Precinct')

In [12]:
# this will replace "MIDTOW" with "Midtown Hills"
traffic_accidents = traffic_accidents.replace(to_replace ='MIDTOW', value ='Midtown Hills Precinct')

In [13]:
# this will replace "EAST" with "East"
traffic_accidents = traffic_accidents.replace(to_replace ='EAST', value ='East Precinct')

In [14]:
# this will replace "WEST" with "West"
traffic_accidents = traffic_accidents.replace(to_replace ='WEST', value ='West Precinct')

In [15]:
# this will replace "NORTH" with "North"
traffic_accidents = traffic_accidents.replace(to_replace ='NORTH', value ='North Precinct')

In [16]:
# this will replace "CENTRA" with "Central"
traffic_accidents = traffic_accidents.replace(to_replace ='CENTRA', value ='Central Precinct')

In [17]:
traffic_accidents['Precinct'].unique().tolist()

['Hermitage Precinct',
 'Madison Precinct',
 'South Precinct',
 'Midtown Hills Precinct',
 'East Precinct',
 'West Precinct',
 'North Precinct',
 'Central Precinct',
 nan]

> ## 1.d. Cleaning the data -- Cleaning up the Zipcode data.

In [18]:
traffic_accidents['ZIP'].unique()

array([37210., 37207., 37138., 37217., 37211., 37206., 37221., 37076.,
       37209., 37212., 37203., 37214., 37115., 37013., 37213., 37189.,
       37208., 37027., 37218., 37080., 37204., 37205., 37215., 37216.,
       37072.,    nan, 37201., 37228., 37220., 37219., 37122., 37015.,
       37135., 37240.])

In [19]:
traffic_accidents = traffic_accidents.dropna(subset=['ZIP'])

In [20]:
traffic_accidents['ZIP'].unique()

array([37210., 37207., 37138., 37217., 37211., 37206., 37221., 37076.,
       37209., 37212., 37203., 37214., 37115., 37013., 37213., 37189.,
       37208., 37027., 37218., 37080., 37204., 37205., 37215., 37216.,
       37072., 37201., 37228., 37220., 37219., 37122., 37015., 37135.,
       37240.])

In [21]:
traffic_accidents['ZIP'] = traffic_accidents['ZIP'].astype(int)

traffic_accidents['ZIP'].dtypes

dtype('int64')

In [22]:
traffic_accidents['ZIP'] = traffic_accidents['ZIP'].astype(str)

traffic_accidents['ZIP'].dtypes

dtype('O')

> ## 1.e. Groupby Zipcode

In [23]:
traffic_accidents.columns.to_list()

['Accident Number',
 'Date and Time',
 'Number of Motor Vehicles',
 'Number of Injuries',
 'Number of Fatalities',
 'Property Damage',
 'Hit and Run',
 'Reporting Officer',
 'Collision Type Code',
 'Collision Type Description',
 'Weather Code',
 'Weather Description',
 'Illumination Code',
 'Illumination Description',
 'Harmful Code',
 'Harmful Description',
 'Street Address',
 'City',
 'State',
 'ZIP',
 'RPA',
 'Precinct',
 'Latitude',
 'Longitude',
 'Mapped Location']

In [24]:
# Add a column for *years* from 'Date and Time'

traffic_accidents['Year'] = traffic_accidents['Date and Time'].dt.year

traffic_accidents.head(3)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location,Year
0,20200606233,2020-09-21 18:37:00,1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,LEWIS ST & FAIN ST,NASHVILLE,TN,37210,8207.0,Hermitage Precinct,36.1518,-86.7580,POINT (-86.758 36.1518),2020
1,20200603908,2020-09-20 00:00:00,1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207,2005.0,Madison Precinct,36.2323,-86.7733,POINT (-86.7733 36.2323),2020
2,20200604395,2020-09-20 19:20:00,1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138,9717.0,Hermitage Precinct,36.2267,-86.6032,POINT (-86.6032 36.2267),2020

In [25]:
Year = traffic_accidents['Year']
traffic_accidents = traffic_accidents.drop(columns=['Year'])
traffic_accidents.insert(loc=2, column='Year', value=Year)
traffic_accidents.head(3)

,Accident Number,Date and Time,Year,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,2020-09-21 18:37:00,2020,1.0,0,0,NaN,False,311344.0,0.0,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210,8207.0,Hermitage Precinct,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,2020-09-20 00:00:00,2020,1.0,0,0,True,True,409155.0,0.0,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207,2005.0,Madison Precinct,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,2020-09-20 19:20:00,2020,1.0,1,0,NaN,False,330419.0,0.0,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138,9717.0,Hermitage Precinct,36.2267,-86.6032,POINT (-86.6032 36.2267)

In [26]:
traffic_accidents.Year.dtypes

dtype('int64')

In [27]:
zip_to_precincts = traffic_accidents.groupby('Precinct')['ZIP'].unique()

zip_to_precincts = zip_to_precincts.reset_index()

zip_to_precincts

                 Precinct                                                ZIP
0        Central Precinct  [37203, 37213, 37210, 37201, 37207, 37208, 37219]
1           East Precinct                       [37206, 37207, 37216, 37213]
2      Hermitage Precinct  [37210, 37138, 37076, 37214, 37217, 37122, 37013]
3        Madison Precinct                       [37207, 37115, 37072, 37189]
4  Midtown Hills Precinct  [37211, 37212, 37203, 37027, 37209, 37204, 372...
5          North Precinct  [37207, 37189, 37208, 37218, 37080, 37209, 372...
6          South Precinct         [37217, 37211, 37013, 37210, 37076, 37135]
7           West Precinct                       [37221, 37209, 37205, 37215]

In [28]:
traffic_accidents.Year.unique().tolist()

[2020, 2021, 2016, 2015, 2017, 2022, 2019, 2018]

In [29]:
traffic_accidents_only_cars = traffic_accidents.loc[~traffic_accidents['Collision Type Description'].isin(['NOT COLLISION W/MOTOR VEHICLE-TRANSPORT','UNKNOWN','OTHER'])]

traffic_accidents_only_cars = traffic_accidents_only_cars[~traffic_accidents_only_cars['Collision Type Description'].isna()]

traffic_accidents_only_cars['Collision Type Description'].unique().tolist()

['SIDESWIPE - SAME DIRECTION',
 'Front to Rear',
 'ANGLE',
 'HEAD-ON',
 'SIDESWIPE - OPPOSITE DIRECTION',
 'Rear to Side',
 'REAR-TO-REAR']

In [30]:
# Filter to only the parts you want

traffic_accidents_sliced = traffic_accidents_only_cars[['Date and Time','Year','Number of Injuries','Collision Type Description','ZIP','Precinct','Latitude','Longitude']]

traffic_accidents_sliced

,Date and Time,Year,Number of Injuries,Collision Type Description,ZIP,Precinct,Latitude,Longitude
3,2020-09-21 05:58:00,2020,0,SIDESWIPE - SAME DIRECTION,37217,South Precinct,36.1325,-86.7193
4,2020-09-21 15:27:00,2020,0,Front to Rear,37211,Midtown Hills Precinct,36.1312,-86.7562
5,2020-09-21 12:34:00,2020,0,Front to Rear,37206,East Precinct,36.1718,-86.7648
6,2020-09-20 00:00:00,2020,0,Front to Rear,37207,East Precinct,36.2305,-86.7687
7,2020-09-20 13:05:00,2020,0,Front to Rear,37221,West Precinct,36.0772,-87.0168
...,...,...,...,...,...,...,...,...
218226,2021-10-10 00:00:00,2021,1,ANGLE,37138,Hermitage Precinct,36.2666,-86.6701
218227,2021-10-08 00:00:00,2021,0,Front to Rear,37209,West Precinct,36.1522,-86.8411
218228,2021-10-10 20:53:00,2021,0,ANGLE,37203,Central Precinct,36.1549,-86.7767
218229,2021-10-10 01:24:00,2021,0,SIDESWIPE - SAME DIRECTION,37206,East Precinct,36.1816,-86.7600
218230,2021-10-10 14:30:00,2021,1,Front to Rear,37220,Midtown Hills Precinct,36.0775,-86.7663

In [31]:
traffic_accidents_precinct = traffic_accidents_sliced.groupby('Precinct').value_counts()

traffic_accidents_precinct = traffic_accidents_precinct.reset_index()

traffic_accidents_precinct.sort_values('Number of Injuries', ascending=False, inplace=True)

traffic_accidents_precinct.head(5)

,Precinct,Date and Time,Year,Number of Injuries,Collision Type Description,ZIP,Latitude,Longitude,0
96664,Midtown Hills Precinct,2017-06-14 19:03:00,2017,16,ANGLE,37211,36.0786,-86.7452,1
102392,Midtown Hills Precinct,2016-05-05 20:30:00,2016,16,Front to Rear,37203,36.1541,-86.7931,1
30786,Hermitage Precinct,2015-04-01 16:30:00,2015,13,Front to Rear,37210,36.1402,-86.7258,1
165661,West Precinct,2021-10-02 12:42:00,2021,12,Front to Rear,37205,36.1109,-86.9220,1
105680,North Precinct,2021-10-03 11:15:00,2021,12,Front to Rear,37189,36.3138,-86.8311,1

In [32]:
traffic_accidents_injuries_zip = traffic_accidents_sliced.groupby('ZIP')['Number of Injuries'].sum()

traffic_accidents_injuries_zip = traffic_accidents_injuries_zip.reset_index()

traffic_accidents_injuries_zip.sort_values('Number of Injuries', ascending=False, inplace=True)

traffic_accidents_injuries_zip.head(5)

      ZIP  Number of Injuries
0   37013                7657
20  37211                7257
16  37207                5433
19  37210                5089
6   37115                5078

In [33]:
traffic_accidents_injuries_zip = traffic_accidents_injuries_zip.rename(columns = {
    'Number of Injuries' : 'total_injuries'})

traffic_accidents_injuries_zip.sort_values('total_injuries', ascending=False, inplace=True)

traffic_accidents_injuries_zip.head(5)

      ZIP  total_injuries
0   37013            7657
20  37211            7257
16  37207            5433
19  37210            5089
6   37115            5078

In [34]:
traffic_accidents_injuries_zip.describe()

       total_injuries
count       33.000000
mean      2057.909091
std       2099.045265
min          3.000000
25%        490.000000
50%       1273.000000
75%       2823.000000
max       7657.000000

In [35]:
traffic_accidents_total_zip = traffic_accidents_sliced.groupby('ZIP')['Number of Injuries'].count()

traffic_accidents_total_zip = traffic_accidents_total_zip.reset_index()

traffic_accidents_total_zip.sort_values('Number of Injuries', ascending=False, inplace=True)

traffic_accidents_total_zip.head(5)

      ZIP  Number of Injuries
20  37211               18060
0   37013               16724
12  37203               14511
19  37210               14433
16  37207               13017

In [36]:
traffic_accidents_total_zip = traffic_accidents_total_zip.rename(columns = {
    'Number of Injuries' : 'total_accidents'})

traffic_accidents_total_zip.head(5)

      ZIP  total_accidents
20  37211            18060
0   37013            16724
12  37203            14511
19  37210            14433
16  37207            13017

In [37]:
traffic_accidents_injuries_zip.describe()

       total_injuries
count       33.000000
mean      2057.909091
std       2099.045265
min          3.000000
25%        490.000000
50%       1273.000000
75%       2823.000000
max       7657.000000

In [38]:
traffic_accidents_sliced_precinct = traffic_accidents_sliced.groupby(['Year','Precinct','ZIP']).value_counts()

traffic_accidents_sliced_precinct = traffic_accidents_sliced_precinct.reset_index()

traffic_accidents_sliced_precinct

,Year,Precinct,ZIP,Date and Time,Number of Injuries,Collision Type Description,Latitude,Longitude,0
0,2015,Central Precinct,37201,2015-08-07 11:50:00,0,Front to Rear,36.1606,-86.7695,2
1,2015,Central Precinct,37201,2015-01-02 14:08:00,0,ANGLE,36.1629,-86.7769,1
2,2015,Central Precinct,37201,2015-12-25 00:00:00,0,ANGLE,36.1587,-86.7757,1
3,2015,Central Precinct,37201,2015-12-29 00:00:00,0,ANGLE,36.1625,-86.7745,1
4,2015,Central Precinct,37201,2015-12-31 22:20:00,0,SIDESWIPE - SAME DIRECTION,36.1568,-86.7719,1
...,...,...,...,...,...,...,...,...,...
173633,2022,West Precinct,37221,2022-02-08 14:58:00,1,Front to Rear,36.0802,-86.9585,1
173634,2022,West Precinct,37221,2022-02-10 07:20:00,1,Front to Rear,36.0771,-87.0215,1
173635,2022,West Precinct,37221,2022-02-10 18:53:00,1,ANGLE,36.0742,-86.9208,1
173636,2022,West Precinct,37221,2022-02-14 11:15:00,2,Front to Rear,36.1097,-86.9248,1
173637,2022,West Precinct,37221,2022-06-19 10:22:00,2,ANGLE,36.0963,-86.9246,1

In [39]:
# Use `groupby` and then `count()`
traffic_accidents_sliced_total_zip = traffic_accidents_sliced.groupby('ZIP')['Date and Time'].count()

# Convert series into dataframe.
# NOTE: be sure to use `reset_index()` instead of a `to_frame()`
# when going from series to dataframe!
traffic_accidents_sliced_total_zip = traffic_accidents_sliced_total_zip.reset_index()

# show safety_total
traffic_accidents_sliced_total_zip.head(5)

     ZIP  Date and Time
0  37013          16724
1  37015              7
2  37027           2989
3  37072            771
4  37076           5803

In [40]:
# MIDTOWN!

midtown = traffic_accidents_sliced.loc[traffic_accidents_sliced['Precinct'].isin(['Midtown Hills Precinct'])]

midtown.head()

,Date and Time,Year,Number of Injuries,Collision Type Description,ZIP,Precinct,Latitude,Longitude
4,2020-09-21 15:27:00,2020,0,Front to Rear,37211,Midtown Hills Precinct,36.1312,-86.7562
11,2020-09-20 19:20:00,2020,1,Front to Rear,37212,Midtown Hills Precinct,36.1304,-86.8020
32,2020-09-20 17:28:00,2020,0,Front to Rear,37203,Midtown Hills Precinct,36.1546,-86.7922
34,2020-09-21 13:00:00,2020,0,ANGLE,37211,Midtown Hills Precinct,36.0826,-86.7273
38,2020-09-21 13:09:00,2020,2,HEAD-ON,37211,Midtown Hills Precinct,36.0450,-86.7243

In [41]:
midtown = midtown.loc[midtown['Year'].isin(['2022'])]

midtown.head()

Empty DataFrame
Columns: [Date and Time, Year, Number of Injuries, Collision Type Description, ZIP, Precinct, Latitude, Longitude]
Index: []

In [42]:
midtown = midtown.loc[~midtown.Latitude.isna()]

midtown = midtown.loc[~midtown.Longitude.isna()]

midtown.Latitude.isna().sum()

0

In [43]:
midtown.shape

(0, 8)

In [44]:
midtown['Year'] = midtown['Year'].astype(str)

In [45]:
# SOUTH!

south = traffic_accidents_sliced.loc[traffic_accidents_sliced['Precinct'].isin(['South Precinct'])]

south.head()

,Date and Time,Year,Number of Injuries,Collision Type Description,ZIP,Precinct,Latitude,Longitude
3,2020-09-21 05:58:00,2020,0,SIDESWIPE - SAME DIRECTION,37217,South Precinct,36.1325,-86.7193
13,2020-09-20 13:05:00,2020,1,SIDESWIPE - SAME DIRECTION,37211,South Precinct,36.0968,-86.7085
15,2020-09-20 22:01:00,2020,0,ANGLE,37211,South Precinct,36.0839,-86.7097
20,2020-09-21 12:30:00,2020,0,ANGLE,37211,South Precinct,36.0700,-86.6985
21,2020-09-20 01:36:00,2020,0,Front to Rear,37211,South Precinct,36.1109,-86.7452

In [46]:
south = south.loc[south['Year'].isin(['2022'])]

south.head()

Empty DataFrame
Columns: [Date and Time, Year, Number of Injuries, Collision Type Description, ZIP, Precinct, Latitude, Longitude]
Index: []

In [47]:
south = south.loc[~south.Latitude.isna()]

south = south.loc[~south.Longitude.isna()]

south.Latitude.isna().sum()

0

In [48]:
south.shape

(0, 8)

In [49]:
south['Year'] = south['Year'].astype(str)

In [55]:
# Create map
nash_map = folium.Map(location = [36.1612,-86.7775], zoom_start = 13)
nash_map

In [57]:
# MIDTOWN

for ind, row in midtown.iterrows():
    point = [row['Latitude'], row['Longitude']]    
    message = '<strong>' + 'Precinct: Midtown Hills ' + '</strong>' + 'Year: ' + row['Year'] + '<br>' + 'Type of Collision: ' + row['Collision Type Description']
    iframe = folium.IFrame(message,
                           width=200,
                           height=60)
    popup = folium.Popup(iframe,
                       max_width=200)
    icon = folium.Icon(color = 'red', icon = 'fa-car', prefix = 'fa')
    folium.Marker(location = point, popup = popup, icon = icon).add_to(nash_map)

nash_map

In [54]:
# South

for ind, row in south.iterrows():
    point = [row['Latitude'], row['Longitude']]    
    message = '<strong>' + 'Precinct: South ' + '</strong>' + 'Year: ' + row['Year'] + '<br>' + 'Type of Collision: ' + row['Collision Type Description']
    iframe = folium.IFrame(message,
                           width=200,
                           height=60)
    popup = folium.Popup(iframe,
                       max_width=200)
    icon = folium.Icon(color = 'darkred', icon = 'fa-car', prefix = 'fa')
    folium.Marker(location = point, popup = popup, icon = icon).add_to(nash_map)

nash_map

In [ ]:
nash_map.save('../data/map.html')